<form action="/login" method="post" role="form" class="panel panel-primary center-block" style="display: block; width: 350px; margin-top: 3em;">
    <div class="panel-heading">
        <h2 class="panel-title">Log In</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label" for="username">username:</label>
            <input type="text" name="username" id="username" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label" for="password">password:</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>
